{% extends './base/HomeBase.html' %}
{% block content %}

<div class="Main-Container">

    <div class="left">
        <div class="buttons">
            <div class="btn-div">><button style="background-color: #FFC700;color: #272727;">Home</button></div>
            <div class="btn-div"><button>Hub</button></div>
            <div class="btn-div"><button>Notifications</button></div>
            <div class="btn-div"><button>Settings</button></div>




            <div class="idontknow">
                From Kousic.
            </div>



        </div>
    </div>
    <div class="right">
        <div class="in-left">

            <div class="cons">

                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>king121</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl1 }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>Real.Killer99</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl2 }}" />

                        </div>
                        <div class="econs-un">
                            <p>MaFiA_MaN</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl3 }}" />

                        </div>
                        <div class="econs-un">
                            <p>Kousic</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl4 }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>I am Dumb121</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl5 }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>JackHammer59</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl6 }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>Fu#Ker</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl7 }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>Lambda shit</p>

                        </div>
                    </div>
                </div>
                <div class="maker">
                    <div class="econs">
                        <div class="econs-img">
                            <img src="{{ imgurl8 }}" alt="N" />

                        </div>
                        <div class="econs-un">
                            <p>VIP</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="in-mid">
            <div class="search">
                <input type="text" name="search" placeholder="Search..." id="search">

            </div>
            <div class="main-msg">
                <div class="chatinfo">

                    <div class="maker">
                        <div class="econs">
                            <div class="econs-img">
                                <img src="{{ imgurla }}" alt="N" />

                            </div>
                            <div class="econs-un">
                                <p>king121</p>

                            </div>
                        </div>
                    </div>



                </div>
                <div class="chat-body">
                    ll
                </div>
                <div class="msg-in">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" version="1" height="50" width="50"  viewBox="0 0 512 512">
                        <circle cx="253.476" cy="256" r="221.959" fill="#FFC700"/>
                        <path fill="#223A5E" d="M253.476,409.112c-90.963,0-164.968-74.004-164.968-164.968c0-5.523,4.477-10,10-10s10,4.477,10,10
                            c0,79.936,65.032,144.968,144.968,144.968c79.936,0,144.968-65.032,144.968-144.968c0-5.523,4.477-10,10-10s10,4.477,10,10
                            C418.444,335.107,344.44,409.112,253.476,409.112z"/>
                        <circle cx="159.969" cy="172.278" r="37.748" fill="#223A5E"/>
                        <circle cx="346.983" cy="172.278" r="37.748" fill="#223A5E"/>
                        <path fill="#223A5E" d="M77.49,271.065c-.026,0-.052,0-.078,0-5.522-.042-9.965-4.553-9.923-10.076.065-8.553,4.955-24.583,22.868-30.413
                            17.133-5.577,32.435,3.774,38.774,10.178 3.885,3.925,3.853,10.257-.072,14.142-3.925,3.886-10.257,3.853-14.142-.072 0,0,0,0,0,0
                            0-.001,0-2.441-2.342-6.161-4.095-4.257-2.006-8.366-2.389-12.211-1.136-8.89,2.893-9.058,11.462-9.059,11.548 C87.446,266.638,82.977,271.065,77.49,271.065zM430.222,271.065c.026,0,.052,0,.078,0,5.522-.042,9.965-4.553,9.923-10.076-.065-8.553-4.955-24.583-22.868-30.413-17.133-5.577-32.435,3.774-38.774,10.178-3.885,3.925-3.853,10.257,.072,14.142,3.925,3.886,10.257,3.853,14.142-.072 0,0,0,0,0,0 0,.001,0,2.441-2.342,6.161-4.095,4.257-2.006,8.366-2.389,12.211-1.136,8.89,2.893,9.058,11.462,9.059,11.548 C420.266,266.638,424.736,271.065,430.222,271.065z"/>
                    </svg>
                    <form>
                        <input type="text" name="msg" placeholder="Type your message..">
                    </form>
                </div>
            </div>
        </div>
        <div class="in-right">
            <div class="semi-about">

            </div>
        </div>

    </div>
</div>



{% endblock %}