@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


$homebg: rgba(0, 0, 0, 0.644444);
$pbg : rgb(0 0 0 / 23%);
$hubbg : #272727;

$pink: #FA00FF;
$amber :#FFC700;
$green : #00FF0A;
$logoblue : #0041BF;

* {
    padding: 0;
    margin: 0;
}

.Main-Container {
    background-color: $hubbg ;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;


    .left {
        width: 20vw;
        background-color: #1e1f25;
        justify-content: center;
        align-items: center;
        min-width: 280px;

        .buttons {
            display: grid;
            grid-template-columns: 1fr;
            gap: 25px;


            height: 100vh;
            justify-content: center;
            align-content: center;

            .btn-div {
                justify-self: center;
                align-self: center;


                border-bottom: 0.1px solid black;
                width: 18vw;


                button {

                    background-color: #ffffff0d;
                    height: 75px;
                    width: 275px;
                    justify-self: center;
                    align-self: center;
                    border-radius: 50px;
                    font-size: 25px;
                    color: #d4d4d4;
                    font-weight: 900;

                    font-family: 'Crimson Text', serif;
                    cursor: pointer;
                    border: none;
                    transition: all ease 0.2s;



                    &:hover {
                        background-color: $amber;
                        color: $hubbg;


                    }
                }




            }

            .idontknow {
                font-weight: 400;
                text-align: center;
                font-family: 'Lovers Quarrel', cursive;
                color: whitesmoke;
            }


        }

    }

    .right {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #1e1f22;
        gap: 6px;

        .in-left {

            width: 20vw;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;



            .cons {

                height: 97vh;
                width: 19.5vw;
                justify-self: center;
                border-radius: 25px;
                // border: 1px solid white;
                box-shadow: 0px 0px 10px rgb(0, 0, 0);
                transition: box-shadow ease 0.1s;
                padding: 2px;
                overflow: auto;
                -ms-overflow-style: none;

                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &:hover {
                    box-shadow: 0px 0px 25px rgb(0, 0, 0);

                }

                .maker {
                    border-bottom: 0.1px solid black;
                }

                .econs {

                    display: flex;
                    // border-radius: 20px;
                    padding: 12px;
                    background-color: #ffffff08;
                    // border: 1px solid black;
                    cursor: pointer;
                    transition: all ease 0.2s;

                    &:hover {
                        background-color: $amber;

                        .econs-img {

                            img {

                                border: 2px solid $hubbg;

                            }
                        }

                        .econs-un {

                            p {

                                color: $hubbg;
                                font-weight: 600;

                            }
                        }

                    }



                    .econs-img {
                        justify-content: center;
                        align-items: center;
                        width: 100px;

                        border-radius: 20px;

                        text-align: center;

                        img {
                            width: 50px;
                            border-radius: 50px;
                            border: 2px solid white;
                            margin: auto;
                        }
                    }

                    .econs-un {
                        width: 200px;
                        align-items: center;
                        display: grid;
                        white-space: nowrap;
                        /* Prevent text from wrapping */
                        overflow: hidden;
                        /* Hide overflowed content */
                        text-overflow: ellipsis;






                        p {
                            
                            font-size: 25px;
                            color: white;
                            font-family: 'Rubik', sans-serif;

                        }
                    }


                }



            }

        }

        .in-mid {
            // background-color: $pink;
            width: 40vw;
            display: grid;
            grid-template-columns: 1fr;
            padding: 3px;
            gap: 10px;


            .search {

                min-height: 45px;

                margin: 0;
                padding-bottom: 10px;

                input {
                    width: calc(100% - 25px);
                    height: 100%;
                    border-radius: 50px;
                    padding-top: 5px;
                    padding-left: 25px;
                    padding-bottom: 5px;
                    border: none;
                    box-shadow: 0px 0px 10px rgb(0, 0, 0);
                    background-color: $hubbg;
                    font-size: 20px;
                    color: #d4d4d4;


                }
            }

            .main-msg {
                height: 89vh;
                // background-color: #FFC700;
                border-radius: 25px;
                overflow: hidden;


                box-shadow: 0px 0px 10px rgb(0, 0, 0);

                .chatinfo {
                    // background-color: #ffffff4f;
                    background-color: $amber;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    height: 70px;
                    padding: 10px;

                    .econs {

                        display: flex;
                        // border-radius: 20px;


                        // border: 1px solid black;
                        cursor: pointer;
                        transition: all ease 0.2s;





                        .econs-img {
                            justify-content: center;
                            align-items: center;
                            width: 100px;

                            border-radius: 20px;

                            text-align: center;

                            img {
                                width: 65px;
                                border-radius: 50px;
                                border: 2px solid rgb(0, 0, 0);
                                margin: auto;
                            }
                        }

                        .econs-un {
                            width: 200px;
                            align-items: center;
                            display: grid;
                            white-space: nowrap;
                            /* Prevent text from wrapping */
                            overflow: hidden;
                            /* Hide overflowed content */
                            text-overflow: ellipsis;






                            p {
                                // justify-self: center;
                                font-size: 30px;

                                font-family: 'Crimson Text', serif;

                                color: black;
                                font-weight: 900;

                            }
                        }


                    }

                }

                .chat-body {
                    background-color: #111111;
                    height: 70vh;
                }

                .msg-in {
                    display: flex;
                    background-color: #ffffff88;
                    height: 8vh;

                    align-items: center;
                    padding-left: 10px;

                    input {
                        height: 7.85vh;
                        width: 35vw;
                        border: none;
                        background-color: transparent;
                        padding-left: 10px;
                        outline: none;
                        font-size: large;
                        color: #4e4e4e;
                        font-weight: 600;
                   
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #4e4e4e;
                            opacity: 1; /* Firefox */
                            font-weight: 500;
                          }
                          
                          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #4e4e4e;
                          }
                          
                          &::-ms-input-placeholder { /* Microsoft Edge */
                            color: #4e4e4e;
                          }
                        &:focus{
                            border: none;
                        }


                    }
                }

            }

        }

        .in-right {
            // background-color: $logoblue;
            width: 20vw;
            .semi-about {
                background-color: $amber;
                height: 97vh;
                width: 17.5vw;
                
                display: grid;
                grid-template-columns: 1fr;
                padding: 10px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;

                

            }

        }
    }

}